body{
	background-image: none;
	background-color:beige;
}
h1{
    text-align: center;
}
.button {
    margin-left: 47%;
    margin-top: 100px;
    font-weight: bold;
    font-size: 20px;
    color: red;
    background:rgb(82, 74, 160);
    height: 80px;
    width: 185px;
    border-radius: auto;
    cursor: pointer;
    display: inline-block;
}
p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: auto;
    margin-right: 35%;
    font-size: 18px;
    font: bolder;
    background-color: none;
}
h4{
	margin-left: 75%;
}
h2{
	margin-left: 8%;
}
form{
    margin-left: 40%;
    margin-top: 10%;
}
.iletisim{
    float: right;
    margin-top: 17%;
}