h1{
    text-align: center;
}
.button {
    margin-left: 30%;
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
    color: red;
    background:rgb(82, 74, 160);
    height: 80px;
    width: 185px;
    border-radius: auto;
    cursor: pointer;
    display: inline-block;
}
p {

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: auto;
    margin-right: 30%;
    font-size: 18px;
    font: bolder;
    background-color: none;
}
body{
    background-color:beige;
}
.iletisim{
    float: right;
    margin-top: 22%;
}